<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>KodBook</title>
</head>
<body>
<h1> KodBook!</h1>
<h3> #1 Social media Sign UP app!</h3>
<form action="/SignUp" method="post">
<label>USERNAME:</label>
<input type="text" name="username">
<br><br>
<label>EMAIL</label>
<input type="email" name="email">
<br><br>
<label>PASSWORD</label>
<input type="password" name="password">
<br><br>
<label>DOB</label>
<input type="date" name="dob">
<br><br>
<label>GENDER:</label>
<label>M</label><input type="radio" name="gender" value="M">
<label>F</label><input type="radio" name="gender" value="F">
<label>O</label><input type="radio" name="gender" value="O">
<br><br>

<input type="submit" value="SignUp">
<hr>
<a href="/">Already have account?login instead</a>


</form>
</body>
</html>